@use '../custom'as *;
@use '../components/mixins'as *;




.pricing_section{
   @include gradient;
   color: white;
   align-items: center;
   margin-bottom: 5rem;


   &_table{
       width: 75vw;
       color: white;
   }
}
